@charset "UTF-8";


body {
	padding-top: 70px;
}

.mb20px {
	margin-bottom: 20px;
}

.w1px {
	width: 1px;
}

.nav.nav-tabs {
	margin-bottom: 20px;
}

h3:first-child {
	margin: {
		top: 0;
		bottom: 20px;
	}
}

.help-block,
.form-group {
	&:last-child {
		margin-bottom: 0;
	}
}