@charset "UTF-8";


// Верхнее поле, чтобы содержимое страницы не скрывала фиксированная навигация
body {
	padding-top: 70px;
}


/*
 * Вспомогательные классы
 */

// Установка нижнего отступа
.mb20px {
	margin-bottom: 20px;
}

// Установка минимальной ширины
.w1px {
	width: 1px;
}


/*
 * Галерея
 */

.gallery {
	> * {
		display: inline-block;
		width: 15%;
		margin: {
			right: 2%;
			bottom: 20px;
		};

		&:nth-child(6) {
			margin-right: 0;
		}
	}
}


/*
 * Корректировка компонентов
 */

// Табы
.nav.nav-tabs {
	margin-bottom: 20px;
}

// Заголовок третьего уровня, являющийся первым элементов в родительском блоке
h3:first-child {
	margin: {
		top: 0;
		bottom: 20px;
	}
}

// Вспомогательная информация
.help-block,
// Группа элементов формы
.form-group {
	&:last-child {
		margin-bottom: 0;
	}
}

// Добавление активного класса логотипу
.navbar-brand.active {
	&,
	&:hover,
	&:active {
		background-color: #e7e7e7;
		color: #555;
	}
}