@charset "UTF-8";


/*
 * Вспомогательные классы
 */

// Установка нижнего отступа
.mb20px {
	margin-bottom: 20px;
}

// Установка минимальной ширины
.w1px {
	width: 1px;
}


/*
 * Корректировка компонентов
 */

// Табы
.nav.nav-tabs {
	margin-bottom: 20px;
}

// Хлебные крошки
.breadcrumb {
	> li {
		&:after {
			content: "/";
			padding: 0 5px;
			color: #ccc;
		}

		+ li:before {
			display: none;
			content: "";
		}

		&:last-child {
			display: block;
			font-size: 24px;

			&:after {
				content: "";
			}
		}

		&.active {
			color: #333;
		}
	}
}

// Вспомогательная информация
.help-block,
// Группа элементов формы
.form-group {
	&:last-child {
		margin-bottom: 0;
	}
}

// Навигационная панель
.navbar {
	border-radius: 0;
}

// Активный логотип
.navbar-brand.active {
	&,
	&:hover,
	&:active {
		background-color: #e7e7e7;
		color: #555;
	}
}

// Компенсация полей контейнера в навигационной панели
@media (min-width: 768px) {
	.navbar-right {
		margin-right: -30px;
	}
}