@charset "UTF-8";


/*
 * Библиотеки
 */

// Bootstrap
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Календарь
@import "../../../node_modules/eonasdan-bootstrap-datetimepicker-npm/src/sass/bootstrap-datetimepicker-build";

// Система гридов с использованием Flex
@import "flex";


/*
 * Вспомогательные классы
 */

// Установка нижнего отступа
.mb20px {
	margin-bottom: 20px;
}

// Установка минимальной ширины
.w1px {
	width: 1px;
}

// Ширина 100 процентов
.w100percent {
	width: 100%;
}


/*
 * Корректировка компонентов
 */

// Табы и пиллы
.nav.nav-tabs,
.nav.nav-pills {
	margin-bottom: 20px;
}

// Хлебные крошки
.breadcrumb {
	> li {
		&:after {
			content: "/";
			padding: 0 5px;
			color: #ccc;
		}

		+ li:before {
			display: none;
			content: "";
		}

		&:last-child {
			display: block;
			font-size: 24px;

			&:after {
				content: "";
			}
		}

		&.active {
			color: #333;
		}
	}
}

// Отмена нижнего отступа
p,
.help-block,
.form-group {
	&:last-child {
		margin-bottom: 0;
	}
}

// Навигационная панель
.navbar {
	border-radius: 0;
}

// Активный логотип
.navbar-brand.active {
	&,
	&:hover,
	&:active {
		background-color: #e7e7e7;
		color: #555;
	}
}

// Компенсация полей контейнера в навигационной панели
@media (min-width: 768px) {
	.navbar-right {
		margin-right: -30px;
	}
}

// Чекбоксы и радио-кнопки
.checkbox-inline,
.radio-online {
	margin-right: 10px;

	& + .checkbox-inline,
	& + .radio-inline {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
	}
}


/*
 * Дополнительная настройка
 */

// Выбор времени
.js-timepicker {
	&.date {
		max-width: 180px;
	}
}

#language-flag {
	display: inline-block;
}