@charset "UTF-8";


/*
 * Вспомогательные классы
 */

// Установка нижнего отступа
.mb20px {
	margin-bottom: 20px;
}

// Установка минимальной ширины
.w1px {
	width: 1px;
}


/*
 * Корректировка компонентов
 */

// Табы
.nav.nav-tabs {
	margin-bottom: 20px;
}

// Вспомогательная информация
.help-block,
// Группа элементов формы
.form-group {
	&:last-child {
		margin-bottom: 0;
	}
}

// Добавление активного класса логотипу
.navbar-brand.active {
	&,
	&:hover,
	&:active {
		background-color: #e7e7e7;
		color: #555;
	}
}